@use "bulma/sass/utilities/mixins";

:root {
    --bulma-info-h: 197;
    --bulma-link-h: 257;
}

#app .navitem-right {
    padding-left: 0;
    padding-right: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;

    input,
    .button {
        max-width: min(calc(90vw - 17rem), 200px);
        border-left-width: 0px;
    }
}


#app .navitem-right {

    input,
    .button {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
}

#app .navitem-right:first-of-type {
    margin-inline-start: auto;

    input,
    .button {
        border-top-left-radius: var(--bulma-radius);
        border-bottom-left-radius: var(--bulma-radius);
        border-left-width: 1px;
    }
}

#app .navitem-right:last-of-type {
    margin-inline-end: 0.375rem;

    input,
    .button {
        border-top-right-radius: var(--bulma-radius);
        border-bottom-right-radius: var(--bulma-radius);
    }
}

html #app {
    nav.navbar {
        padding-left: 0rem;
        padding-right: 0rem;
        border-bottom: 2px solid var(--bulma-border);
    }
}

html #app {
    min-height: calc(100vh);
    display: flex;
    flex-direction: column;
}

html.has-navbar-fixed-top #app {
    min-height: 100vh;
}

html #app {
    background-color: hsl(var(--bulma-info-h), var(--bulma-info-s), var(--bulma-background-l));

    code,
    pre,
    tt,
    kbd,
    samp,
    .mono {
        font-family: FiraCode Nerd Font;
    }
}

html #app .container {
    background-color: var(--bulma-scheme-main);
    max-width: min(90vw, 1152px);
    border-radius: 0;
}

@include mixins.desktop {
    html #app {
        nav.navbar {
            padding-left: 0.75rem;
            padding-right: 0.75rem;
        }

        table.table {
            max-width: 100%;
        }
    }
}

.has-background-danger-op-1 {
    background-color: hsl(var(--bulma-danger-h), var(--bulma-danger-s), var(--bulma-danger-on-scheme-l), 0.05) !important;
}

.has-background-link-op-1 {
    background-color: hsl(var(--bulma-link-h), var(--bulma-link-s), var(--bulma-link-on-scheme-l), 0.05) !important;
}

.has-background-warning-op-1 {
    background-color: hsl(var(--bulma-warning-h), var(--bulma-warning-s), var(--bulma-warning-on-scheme-l), 0.05) !important;
}

html #app {
    .wmax {
        width: 100% !important;
    }

    .hmax {
        width: 100% !important;
    }

    .pe-none {
        pointer-events: none !important;
    }

    .rel {
        position: relative !important;
    }

    .ultra-faint {
        opacity: 0.90625 !important;
    }

    .navbar-item,
    .navbar-link {
        &.is-selected {
            color: hsl(var(--bulma-link-h), var(--bulma-link-s), var(--bulma-link-invert-l));
        }
    }

    >.container {
        padding-bottom: 0 !important;
        padding-top: calc(var(--bulma-navbar-height) + 2px) !important;
    }

    .has-text-weak {
        color: var(--bulma-text-weak) !important;
    }

    .has-text-strong {
        color: var(--bulma-text-strong) !important;
    }
}

html #app tr td {
    vertical-align: middle;
}

html #app>div {
    padding-top: 2rem;
}

html #app .player-info {
    >:first-child {
        min-height: 50px;
        max-height: 50px;
        min-width: 50px;
        max-width: 50px;
        height: 50px;
        width: 50px;
        border-radius: 50px;
        overflow: hidden;
        position: relative;
        filter: drop-shadow(0 0 0.125rem var(--bulma-border));

        img {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
            background-color: var(--bulma-border);
            color: rgba(0, 0, 0, 0);
        }
    }

    >:last-child {
        margin-left: 1rem;
        overflow: hidden;

        >div {
            color: var(--bulma-table-color);
        }

        >div:first-child {
            color: var(--bulma-link);
            margin-bottom: -.25rem;
        }
    }

    &:hover {
        >:first-child {
            filter: drop-shadow(0 0 0.125rem var(--bulma-link-dark-invert));
        }

        >:last-child {
            >div:first-child {
                text-decoration: underline;
            }
        }
    }
}

.ws-nw {
    white-space: nowrap !important;
}

html #app .nowrap {
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
    overflow: hidden !important;
}

html #app table.table {
    table-layout: fixed;
    min-width: 100%;
    position: relative;
    border-collapse: separate;
    border-spacing: 0;
    background-color: var(--bulma-scheme-main-bis);

    a:hover {
        text-decoration: underline;
    }

    th {
        position: sticky;
        top: 0rem;
        z-index: 1;
        background-color: var(--bulma-scheme-main-ter);
        border-bottom: 2px solid var(--bulma-border);
        vertical-align: middle;

        .curr-sort {
            transition: opacity 0.5s ease-in-out;
            opacity: 1.0;
        }

        .next-sort {
            transition: opacity 0.5s ease-in-out;
            opacity: 0.0;
        }

        a:hover {
            color: var(--bulma-link) !important;
            text-decoration: underline;

            .curr-sort {
                opacity: 0.0;
                color: var(--bulma-text) !important;

                .mono {
                    color: var(--bulma-text) !important;
                }
            }

            .isActive>.curr-sort {
                opacity: 0.25;
            }

            .next-sort {
                opacity: 1.0;
            }
        }
    }

    td,
    th {
        width: 1%;
        white-space: nowrap;
    }

    td:nth-child(2),
    th:nth-child(2) {
        width: auto !important;
        min-width: 20rem;
    }

    td:first-child {
        /* max-width: 5rem;
        min-width: 5rem; */
        position: relative;

        >div {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    td:last-child {
        /*
        position: relative;
        min-width: 16rem;
        */

        /*
        >div {
            position: absolute;
            top: 0;
            left: 0.5rem;
            width: calc(100% - 1.5rem);
            height: 100%;
        }
            */

        a:hover {
            text-decoration: underline;
        }
    }

    /*
    td:last-child,
    th:last-child {
        width: 40%;
        overflow: hidden;
        position: relative;
        / *min-width: max(12rem, 40%);* /

        >div {
            position: absolute;
            top: 0;
            left: 0.5rem;
            width: calc(100% - 1.5rem);
            height: 100%;
        }
    }
    */

    th:last-child {
        position: sticky;
    }
}

@media (prefers-color-scheme: dark) {
    img.defaultProfile {
        filter: brightness(55%) contrast(1000%);
    }
}